body {
    margin: 0;
    padding: 10px 20px 20px;
    font-family: Arial;
    font-size: 16px;
}
#map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 800px;
}
#map {
    width: 786px;
    height: 400px;
}
#actions {
    list-style: none;
    padding: 0;
}
#inline-actions {
    padding-top: 10px;
}
.item {
    margin-left: 20px;
}

#menu_vertical
{
        float:left;
        position:fixed;
        min-width:175px;
    max-width:200px;
    height:100vh;
        background-color:#2A2F38;
}

.menu
{
        margin-top:15px;
}
