html, body{
  height: 100%;
  margin: 0;
    font-family: Arial;
    font-size: 16px;
}


#map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 800px;
    margin: auto;
}
#wrap-map{
  margin-auto;
}
#map {
    width: 786px;
    height: 400px;
}
#actions {
    list-style: none;
    padding: 0;
}
#inline-actions {
    padding-top: 10px;
}
.item {
    margin-left: 20px;
}

#menu_vertical{
  float:left;
  position:fixed;
  min-width:175px;
  max-width:200px;
  height:100vh;
  background-color:#2A2F38;
}

.menu{
  margin-top:15px;
}

#pages{
    min-height:100vh;
    width: calc(100% - 175px);
    margin-left:175px;
}
