<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js"></script>
   <meta charset="utf-8">
        <title>Polydevs</title>
	{% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	   {% endblock %}
      </head>
  <body>
    <div id="menu_vertical">
      <div id="logo_menu">
        <img src="">
      </div>
      <ul class="nav menu" >
          <li class="active"><a href="./"><span class="glyphicon glyphicon-home"> Accueil</span></a></li>
          <li class="active"><a href="./privpark"><span class="glyphicon glyphicon-road"> Parking privé</span></a></li>
    </ul>
</div>
<div id="pages">
     <div id="map-container">
          <div id="map"></div>
        </div>
            <div id="inline-actions">
       <input id="refresh" type="checkbox" onclick="onClickHandler()" value="Only free" class="item"/>
            </div>

	     <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
       <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8d2n5UD6lfUH9dmTjzGpelgCeglcqpU8&callback=initMap">
       </script>
      </div>
    </body>
</html>
