<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polydevs</title>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8d2n5UD6lfUH9dmTjzGpelgCeglcqpU8&callback=initMap"
              type="text/javascript"></script>
    </head>
    <body>
        <p>Gonna try</p>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8d2n5UD6lfUH9dmTjzGpelgCeglcqpU8&q=Luxembourg" allowfullscreen>
</iframe>
    </body>
</html>