<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polydevs</title>
    </head>
    <body>
        <p>Gonna try</p>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj4wkh4r-T5eSPGaoto339SldOXEMaJhU&callback=initMap"
          type="text/javascript"></script>
    </body>
</html>